* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*/////////////// 네비게이션 바////////////////////// */
.navbar {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 0 10px;
  flex-wrap: nowrap;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
/*네비 중앙배치 수정*/
.nav-inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 로고 */
.navbar-logo a {
  color: #000000;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
}

/* 메인 메뉴 */
.menu {
  list-style: none; /*라인앞에 점없애기*/
  display: flex;
}

.menu li {
  position: relative;
}

.menu li a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 18px 20px;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
}

.menu li a:hover {
  background: #444;
  color: white;
}

/* 드롭다운 */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 30;
  min-width: 200px;
  background: #fff;
  list-style: none;
  display: none;
  border: 1px solid #ddd;
}

.dropdown-content li a {
  display: block;
  padding: 12px 10px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background: #f5f5f5;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* hover 동작 */
.menu li:hover .dropdown-content {
  display: block;
}

/*////////////////////입양정보////////////////////////*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.info-.hero {
  background: #25acc4;
  padding: 40px 0;
}

.hero-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
/*//////////////여섯개동그라미 왼쪽 사진//////////////*/
.hero-banner {
  flex: 0 0 40%;
  min-height: 320px;
  background: #65cebc;
  border-radius: 16px;
  list-style: none;
}

.hero-menu {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  list-style: none;
}

/*/////////////////4칸//////////////////////*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  list-style: none;
}

.adopt-info {
  max-width: 1200px;
  margin: 0 auto;
}

.info-list {
  display: flex;
  gap: 20px;
  height: 200px;
  padding: 20px;
}
.info-list li {
  flex: 1;
  background-color: #25acc4;
  list-style: none;
}
/*//////////////////////유기견//////////////////*/
.protected {
  max-width: 1200px;
  margin: 0 auto;
}
.animal-list {
  display: flex;
  gap: 20px;
  height: 200px;
  padding: 20px;
}
.animal-list li {
  flex: 1;
  background-color: #25acc4;
  list-style: none;
  align-items: center;
  justify-items: center;
}
